.codeBlockContainer {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--ifm-toc-border-color);
}

.lineNumber {
  display: inline-block;
  padding-right: 16px;
  text-align: right;
  opacity: 0.3;
  user-select: none;
}

/* Hover效果 - 显示复制按钮 */
.codeBlockContainer:hover .copy-button {
  opacity: 1;
}
